// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fa-regular{
  color: gray;
}

.fa-solid{
  color: red;
}

.comment-count{
  color: blue;
}

table {
  border-collapse: separate;
  border-spacing: 30px;
}